/* src/assets/styles/main.css */
/* main css for my website */

body {
    height: 125vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin-top: 100px;
    padding: 40px;
}

/* start of navigation bar */
header img {
    height: 60px;
    width: auto;
    margin-left: 40px;
}

.main-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

.main-header * {
    display: inline;
}

.main-header li {
    margin: 40px;
}

.main-header li a {
    color: black;
    text-decoration: none;
}

.main-header li a:hover {
    text-decoration: underline;
}
/* end of navigation bar */

/* start of main title */
.main-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    margin-top: 17vh;
}

.main-title h1 {
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
/* end of main title */

/* start of projects page */
.main-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: -25vh;
}

.main-projects-container h2 {
    font-size: 40px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 40px;
}

.project img {
    height: 320px;
    width: 560px;
    margin-right: 40px;
    border: 1px solid black;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;
    margin-left: 40px;
}

.project-info h3 {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-info p {
    margin: 0px;
}
/* end of projects page */
