/* src/assets/styles/main.css */
/* main css for my website */

/* imports from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Fredericka+the+Great&display=swap');

body {
    font-family: "Bentham", serif;
    background-color: white;
    margin-top: 100px;
    padding: 40px;
    transition: background-color .75s ease;
}

h2 {
    font-size: 70px;
    color: black;
    font-family: "Bentham", serif;
    margin: 0px;
    text-align: center;
    font-weight: normal;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.highlight-light {
    font-weight: bold;
    color: #539ab2;
}

/* start of navigation bar */
header img {
    height: 60px;
    width: auto;
    margin-left: 40px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition: background-color .75s ease;
}

.main-header.dark {
    background-color: #222222;
}

.main-header.light {
    background-color: white;
}


.main-header * {
    display: inline;
}

.main-header li {
    margin: 50px;
}

.right-header li a {
    text-decoration: none;
    transition: color .75s ease;
}

.main-header.dark li a {
    color: white;
}
.main-header.light li a {
    color: black;
}

.right-header li a:hover {
    text-decoration: underline;
}

.right-header li a.selected {
    text-decoration: underline;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.logo-link a {
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
    transition: 1.5s ease;
}

.logo-link a:hover {
    text-decoration: underline overline;
}

/* end of navigation bar */

/* start of main title */
.main-title-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height: 100vh;
    margin-top: 10vh;
    margin-left: 30%;
}

.main-title {
    margin-bottom: 30px;
}

.main-title h1 {
    font-size: 9em;
    font-family: "Bentham", serif;
    margin: 0px;
    line-height: 120px;
}
/* end of main title */


/* start of select projects page */
.main-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: -25vh;
}

.main-projects-container h2 {
    font-size: 40px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: 40px;
}

.project img {
    height: 320px;
    width: 560px;
    margin-right: 40px;
    border: 1px solid black;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;
    margin-left: 40px;
}

.project-info h3 {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-info p {
    margin: 0px;
}

.project-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.project-links a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-top: .5px solid white;
    border-right: .5px solid #456671;
    border-bottom: .5px solid white;
    border-left: .5px solid #456671;
    border-radius: 15px;
    transition: 0.5s ease;
}

.project-links a:hover {
    border-top: .5px solid #456671;
    border-right: .5px solid white;
    border-bottom: .5px solid #456671;
    border-left: .5px solid white;
}
/* end of select projects page */

/* start of all projects page */
.main-all-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
    z-index: 1;
}

.main-all-projects-container img {
    width: 38vw;
    height: 21vw;
    opacity: 100%;
    position: relative;
    border: 1px solid #222222;
    border-radius: 5px;
    transition: 0.5s ease; 
    transform-origin: center;
}

.main-all-projects-container h2 {
    color: white;
    font-weight: none;
    font-size: 50px;
    letter-spacing: 3px;
}

.main-all-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-around;
    
}

.each-project {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40vw; 
    margin-top: 8vw;
    cursor: pointer;
}

.each-project-info {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    opacity: 0%;   /* testing crucial line */
    transition: 1s ease;
}

.each-project:hover img {
    opacity: 12%;
    /* I got this hover inspiration from: https://codepen.io/gayane-gasparyan/pen/wvxewXO */
    transform: perspective(1500px) translateY(-5%) rotateX(45deg) translateZ(0);
}

.each-project:hover .each-project-info {
    opacity: 100%;
    text-shadow: -2px 100px 17px grey;
    top: -29%;
}

.each-project-info p {
    font-weight: normal;
    font-size: 15px;
    margin: 90px;
    margin-top: -35px;
    padding: 0px;
    text-align: left;
}

.each-project-info .subtitle {
    font-style: italic;
    margin-bottom: 50px;
    padding-left: 130px;
}

/* end of all projects page */

/* start of coffee chat view*/
.main-coffee-chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    padding-bottom: 300px;
}

.main-coffee-chat-container img {
    width: 6vw;
    height: auto;
    padding: 1vw;
}

.main-coffee-chat-container h2 {
    font-size: 100px;
    padding-bottom: 0px;
    color: white;
}

.main-coffee-chat-container a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    transition: 1s ease;
}

.main-coffee-chat-container a:hover {
    color: rgb(27, 96, 157);
}

.main-coffee-chat-links {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-left: 45vw;
}
/* end of coffee chat view*/

/* start of footer */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin: 30px;
}

.main-footer.dark {
    color: white;
    font-family: "Bentham", serif;
    text-align: center;
}

.main-footer.light {
    color: black;
    font-family: "Bentham", serif;
    text-align: center;
}

.main-footer p {
    margin-top: -10px;
}

.name {
    font-style: italic;
}
/* end of footer */

/* @media queries */

@media screen and (max-width: 770px) {
    /* intro title start */
    .main-title-container {
        height: 100vh;
        margin-top: 0vh;
        margin-left: 0%;
    }

    .main-title h1 {
        font-size: 8em;
        letter-spacing: -5px;
        font-family: "Bentham", serif;
        margin: 0px;
        line-height: 100px;
    }
    /* intro title end */

    /* header start */
    .main-header {
        height: 200px;
        align-items: start;
    }

    body {
        margin-top: 200px;
    }

    .right-header {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        height: 100px;
    }

    .right-header li {
        margin-bottom: -30px;
    }

    /* header end */

    /* select projects start */

    .project {
        display: flex;
        flex-direction: column;
        align-items: top;
        margin: 0px;
        margin-top: 60px;
        max-width: 100vw;
    }

    .project img {
        max-width: 100vw;
        height: auto;
    }

    /* select projects end */

    /* all projects start */
    .main-all-projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: top;
        justify-content: space-around;
        gap: 50px;
    }

    .each-project img {
        margin: 0px;
        min-width: 90vw;
        height: auto;
    }

    .each-project-info {
        min-width: 90vw;
        font-size: 30px;
    }

    .each-project-info p {
        font-weight: normal;
        font-size: 15px;
        margin: 20px;
        margin-top: -35px;
        padding: 0px;
        text-align: left;
    }

    .main-all-projects-container h2 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 20px;
    }

    /* all projects end */

    /* coffee chat start */
    .main-coffee-chat-container h2 {
        font-size: 70px;
    }

    .main-coffee-chat-links {
        margin-left: 0vw;
    }
    /* coffee chat end */
}






